.repo {
  margin: auto;
  margin-bottom: 20px;
  max-width: 800px;
  color: azure;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  display: grid;
  grid-template:
    "avatar name"
    "avatar description"
    "avatar summary"
    / 1fr 5fr;

  column-gap: 30px;
  background: linear-gradient(to right, #7ddaa7bb 25%, #000000bb 70%);

  * {
    margin: 0;
    padding: 0;
  }

  .owner-avatar {
    grid-area: avatar;
    overflow: hidden;
    place-self: center center;
    border-radius: 10px;

    img {
      max-width: 100%;
      display: block;
    }
  }
  .owner-name {
    color: cyan;
    text-decoration: none;
  }

  .name {
    grid-area: name;
    background-image: linear-gradient(to right, azure 30%, cyan);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: min-content;
    width: 100%;
    max-width: max-content;

    @keyframes attention {
      from {
        background-image: linear-gradient(to right, azure 30%, cyan);
        text-decoration: none;
      }
      to {
        background-image: linear-gradient(to right, cyan 30%, azure);
        text-decoration: underline solid cyan;
      }
    }
    animation: attention 5s linear infinite;
  }

  .description {
    grid-area: description;
  }

  .summary {
    grid-area: summary;
  }

  .description,
  .name {
    margin-bottom: 8px;
  }

  .stars,
  .issues {
    display: inline-block;
    border: solid 1px azure;
    padding: 4px;
    margin-right: 5px;
  }

  @media (max-width: 480px) {
    text-align: center;
    grid-template:
      "avatar"
      "name"
      "description"
      "summary"
      / 1fr;
    gap: 10px;
    .owner-avatar {
      max-height: 150px;
    }
    .name {
      margin-bottom: 10px;
    }
    .submition {
      display: block;
      margin-top: 5px;
    }
  }
}
