.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: spin 3s ease-in-out infinite;

  .title {
    margin: 0;
    padding: 10px;
    color: honeydew;
    background: #000;
    font-size: 24px;
  }

  .star {
    animation: blink 1.5s linear infinite;
  }

  @keyframes blink {
    from {
      color: #7ddaa7;
      font-size: 0.9em;
    }
    to {
      color: #a2a838;
      font-size: 0.8em;
    }
  }

  $transitionCount: 40;
  @function ratio($i) {
    $ratio: 100 * $i / $transitionCount;
    @return #{$ratio}#{"%"};
  }
  @function degree($i) {
    $degree: -45 + 360 * $i/ $transitionCount;
    @return #{$degree}deg;
  }
  @keyframes spin {
    @for $i from 0 through $transitionCount {
      #{ratio($i)} {
        background: conic-gradient(
          from degree($i) at top left,
          #749d34,
          #a2a838,
          #cceb9d,
          #749d34
        );
      }
    }
  }
}
