.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  animation: colorRotation 3s ease-in-out infinite;

  .title {
    margin: 0;
    padding: 10px;
    color: honeydew;
    background: #000;
    font-size: 24px;
  }

  .footer {
    background-color: black;
    color: #d8e6d8;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 1.5em;
    text-transform: capitalize;

    :hover {
      filter: drop-shadow(1px 1px 8px #d8e6d865) sepia(0.05);
    }

    address {
      text-align: center;
    }
    a {
      text-decoration: none;
      color: #d8e6d8;

      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1.5ch;
      }
      img {
        vertical-align: top;
        border: 3px solid #d8e6d8;
        border-radius: 10px;
        height: 1.85rem;
        width: 1.85rem;
      }
    }
  }

  .star {
    animation: blink 1.5s linear infinite;
  }

  @keyframes blink {
    from {
      color: #7ddaa7;
      font-size: 0.9em;
    }
    to {
      color: #a2a838;
      font-size: 0.8em;
    }
  }

  //
  $rotationStepsCount: 40;
  @function rotationRatio($i) {
    $rotationRatio: 100 * $i / $rotationStepsCount;
    @return #{$rotationRatio}#{"%"};
  }
  @function degree($i) {
    $degree: -45 + 360 * $i/ $rotationStepsCount;
    @return #{$degree}deg;
  }
  @keyframes colorRotation {
    @for $i from 0 through $rotationStepsCount {
      #{rotationRatio($i)} {
        background: conic-gradient(from degree($i) at top left, #749d34, #a2a838, #cceb9d, #749d34);
      }
    }
  }
}
